<h1>xXxW3LC0ME 2 TITLE CA$ExXx<h1>
<form action="/title">
    <div class="form-group">
      <label for="title">WHAT DO U WANNA SEE IN TITLE CASE??</label>
      <input id="title" name="title" class="form-control" type="text">
    </div>
    <button type="submit" class="btn-success">submit</button>
</form>
